#navbarNavDropdown {
    margin-left: 76%;
  }

.row {
  margin-top: 3%;
}
  
#summary {
  font-weight: lighter;
  font-size: 135%;

}

h1 {
  text-align: center;
  color: cornflowerblue;
}

  #visualizations {
    column-count: 2;
    column-gap: 0px;
  }

  #comparisons {
    column-count: 2;
    column-gap: 0px;
  }


  .descriptions {
    column-count: 2;
  }



.navbar-brand {
  text-decoration-style: double;
  font: linear-gradient(-90deg, red, yellow);
}

img:hover {
  padding: 1%;
  border: inset;
  border-color: cornflowerblue;
}

 .caption {
  margin-top: 10%;
  font-size: 150%;
  font-weight: lighter;
}



@media (max-width: 480px) {
  #comparisons {
    column-count: 1;
    column-gap: 0px;
  }

  .descriptions {
    column-count: 1;
  }

}

  